.logline.info { color: #3498db; }
.logline.debug { color: #5DADE2; }
.logline.warning { color: #F39C12; }
.logline.error { color: #E74C3C; }      /* rot */
.logline.critical { color: #C0392B; }
.logline.loading { color: #9B59B6; }
.logline.success { color: #2ECC71; }
