<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metals Settings</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-content">
                <h1>Media Downloader</h1>
                <nav>
                    <ul class="nav-menu">
                        <li><a href="/">Download</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
<body>
    <h1>Metals Settings</h1>
    
    <form action="#" method="post">
        <!-- DNS Settings -->
        <h2>DNS Settings</h2>
        <fieldset>
            <label for="ddos_protection_calc">ddos_protection_calc:</label>
            <input type="text" id="ddos_protection_calc" name="ddos_protection_calc"><br><br>
            
            <label for="ddos_wait_timer">ddos_wait_timer:</label>
            <input type="text" id="ddos_wait_timer" name="ddos_wait_timer"><br><br>
            
            <label for="max_download_threads">max_download_threads:</label>
            <input type="number" id="max_download_threads" name="max_download_threads"><br><br>
            
            <label for="thread_download_wait_timer">thread_download_wait_timer:</label>
            <input type="text" id="thread_download_wait_timer" name="thread_download_wait_timer"><br><br>
            
            <label for="disable_thread_timer">disable_thread_timer:</label>
            <input type="text" id="disable_thread_timer" name="disable_thread_timer">
        </fieldset>
        <input type="submit" value="Save Settings">
    </form>
</body>
</html>